WebService/Translate/Dictionary.xsd

<?xml version="1.0"?>


<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="dictionary">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="word" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="word">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="english-word" type="xs:string" />
                <xs:element name="german-word" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
